h1 = "Waiting for #{@game.players - @game.users.length} more player(s) to join"
h3 Players Joined:
- @game.users.each do |user|
  p = user.name

h3 = link_to "Leave Lobby", game_leave_path(id: @game)
