h1 = "Welcome, #{@user_name}"

h2 Create a new game
h3 = link_to "Create Game", new_game_path

h2 Pending Games
== render 'pending'

h2 Games In Progress
== render 'in_progress'

h2 Finished Games
== render 'finished_games'
