body {
  text-align: center;
}

img {
  margin: 0 -12.5px 0 -12.5px;
}

form {
  max-width: 600px;
  margin: 50px auto;
  justify-content: center;
  text-align: center;
}

label {
  margin: 10px;
}

.opponent {
  margin: 20px;
  text-align:center;
  padding: 0 20px;
}

.error {
width: 400px;
border: 1px solid #D8D8D8;
padding: 5px;
border-radius: 5px;
font-family: Arial;
font-size: 20px;
background-color: #FFF9F2;
color: #D30000;
text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.player {
  max-width: 550px;
  margin: 5px auto;
  text-align: center;
}

.gameLog {
  text-align: left;
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 20%;
}

.logStatement {
  margin: 3px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.deck {
  margin: 20px auto;
  text-align:center;
}

.selected {
  border-color: #eec64f;
  border-width: 6px;
  border-style: solid;
  border-radius: 3px;
}
