body {
  text-align: center;
}

img {
  margin: 0 -12.5px 0 -12.5px;
}

form {
  max-width: 600px;
  margin: 50px auto;
  justify-content: center;
  text-align: center;
}

label {
  margin: 10px;
}

.opponent {
  margin: 20px;
  text-align:center;
  padding: 0 20px;
}

.player {
  max-width: 550px;
  margin: 5px auto;
  text-align: center;
}

.gameLog {
  text-align: left;
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 20%;
}

.logStatement {
  margin: 3px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.deck {
  margin: 20px auto;
  text-align:center;
}

.requestCards {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
}

.turnIndicator {
  display: flex;
  justify-content: center;
}

.selected {
  border-color: #eec64f;
  border-width: 6px;
  border-style: solid;
  border-radius: 3px;
}
